@import url('./other-file.css');

body {
  padding: 1rem 2rem;
}

.center {
  margin: auto;
  width: 50%;
  border: 1px solid rgba(15, 32, 15, 0.728);
  padding: 20px;
}

h1 {
  text-align: center;
}

.increase {
  background-color: hsl(117, 100%, 36%);
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.decrease {
  background-color: #ef4141;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.output {
  padding: 20px;
  margin-top: 20px;
  float: left;
}
